html{
    font-size: 15px;
}

body{
    margin: 0px;
}
.banner-area{
    background-color: hsl(233, 47%, 7%);
}
.banner-area .main-area{
    width: 75%;
    padding: 5rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.banner-area .main-area .banner-child{
    width: 50%;
    flex: 1 ;
}

.banner-area .main-area .about-text{
    background-color: hsl(244, 38%, 16%);
    padding: 5rem 6rem 4.2rem 3rem;
    /* text-align: center; */
    margin: 0;
    width: 50%;
}
.about-text .main-heading{
    margin-top: 0px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.about-text .main-heading .insight{
    color: hsl(277, 64%, 61%);
}
.about-text .main-heading , .about-text .stats{
    color: hsl(0, 0%, 100%);
}
.about-text .main-para{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.about-text .stats{
    display: inline-block;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    padding: 1rem 2rem 1rem 0px;
}

.about-text .stat-info{
    color: hsla(0, 0%, 100%, 0.6);

}

.main-area .header-pic{
    background-color:hsl(277, 64%, 61%) ;
    margin: 0;
}


.main-area .header-pic img{
    height: 100%;
    width:100%;
    opacity: 0.5;
}



@media all and (max-width : 1100px){


    .banner-area .main-area{
        flex-direction: column-reverse;
        width: 80%;
    }

    .banner-area .main-area .about-text .main-heading{
        font-size: large;
    }
    .banner-area .main-area .about-text .main-para{
        font-size: medium;
    }

    .banner-area .main-area .about-text{
        width: 100%;
        padding: 0px;
    }

    .banner-area .about-text .main-heading{
        padding: 1rem 1rem 0px 1rem;
    }
    .banner-area .main-area .main-para{
        padding: 0rem 1rem;
    }

    .banner-area .main-area .about-text .stat-main{
        padding: 0px 1rem;
    }

    .banner-area .main-area .header-pic{
        width: 100%;
    }



    .banner-area .main-area .about-text{
        text-align: center;
    }

    .attribution{
        width: 70%;
    }
}



.attribution {
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

